{% include 'menu.html' %}

<!-- Books-->
	<div class="ui container">
		<div class="ui secondary segment">
			<div class="ui centered stackable grid">
				{% for book in books %}
				<div class="three wide column">
					<div class="ui center aligned segment">
						<div class="ui image">
							<div class="ui bottom attached teal pointing label">
								{{ book.name }}
							</div>
							<a href={{ url_for('book' , id=book.id)}}><img style="width: 10rem; height: 13.5rem" src={{ url_for('static' , filename=book.image) }}></a>
						</div>
	    			</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

</body>
</html>